{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>

<body style="background-color: #343539;">
    <div class="container"><button class="btn btn-primary border-dark" type="reset" style="background-color: rgba(0,123,255,0);background-image: url(&quot;{% static 'images/boton_atras.png' %}&quot;);background-size: cover;background-repeat: no-repeat;width: 50px;height: 50px;filter: brightness(100%) saturate(104%);"></button></div>
    <div
        class="login-dark" style="background-color: rgb(52,53,57);background-image: url(&quot;{% static 'images/fondo_principal.png' %}&quot;);height: 600px;">
        <form method="post" style="color: #343539;background-color: #343539;opacity: 0.81;">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration" style="background-image: url(&quot;{% static 'images/Logo.png' %}&quot;);background-size: contain;background-repeat: no-repeat;height: 100px;"></div>
            <div class="form-group"><input class="form-control" type="email" name="Email" placeholder="Email" style="color: rgb(255,255,255);"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Contraseña" style="color: rgb(255,255,255);"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="Ingresar">INGRESAR</button></div><a class="forgot" href="#">¿Olvidaste tu contraseña?</a></form>
        </div>
        <div class="brands"></div>
        <div></div>
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>